<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ev3base_pkg)/maps/my_map.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_diff.launch" />


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="cmd_vel_mux/input/teleop" />

    <rosparam file="$(find ev3base_pkg)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ev3base_pkg)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ev3base_pkg)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ev3base_pkg)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ev3base_pkg)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
